.ui-draggable-dragging {
    z-index:99999;
}
.ui-draggable{
  float: left;
}
body {
    background: linear-gradient(to right, gray, white);
}
#images_hz {
  overflow: hidden;
  width: 100%;
  overflow-x:scroll;
}
#navbar_row{
  z-index: 999;
  width: 100%;
  position: absolute;
  height: 100px;
}
#game_row{
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.navbar{
  margin-bottom: 0px;
}
.subnav{
  position: fixed;
  width: 100%;
  padding-left: 25px;
  padding-top: 50px;
  white-space: nowrap;
  border-style: solid;
  border-width: 3px;
}
.units_subnav{
  background: linear-gradient(to right, transparent, gray, transparent);
}
.ipcs_subnav{
  background: linear-gradient(to right, black, transparent, black);
}

#fighter_img {
  width: 65px;
  height: 65px;
}
#armor_img {
  width: 65px;
  height: 65px;
}
.unit_image{
  width:65px;
  height:65px;
  position: relative;
  z-index: 99999;
}
.icon_image{
  width:65px;
  height:65px;
  position: relative;
  z-index: 99999;
}
.marker_image{
  width:65px;
  height:65px;
  position: relative;
  z-index: 99999;
}
.unit_nav_btn{
  display: inline;
}
#canvas_container {
  height: 1480px;
  width: 2120px;
  z-index:0;
  /*margin-top:100px;*/
}
bring-to-front{
  z-index: 999;
}
.navbar-nav{

}
.btn_spacer{
  display: inline;
}
.nav_btn_set{
  float: right;
}

/* MODAL MENU STYLING */
#menu_modal {
  padding-top: 70px;
}
#gamestart_modal {
  padding-top: 70px;
}
.modal-content{
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1));
  border-style: solid;
  border-color: gold;
}
.modal-header{
  color: gold;
}
.modal-close{
  color: gold;
}
