.ui-draggable-dragging {
    z-index:99999;
}
.ui-draggable{
  float: left;
}
#images_hz {
  overflow: hidden;
  width: 100%;
  overflow-x:scroll;
}
#navbar_row{
  z-index: 999;
  width: 100%;
  position: relative;
}
#game_row{
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.navbar{
  margin-bottom: 0px;
}
.subnav{
  position: fixed;
  width: 100%;
  padding-left: 25px;
  padding-top: 50px;
  white-space: nowrap;
  border-style: solid;
  border-width: 5px;
}
.units_subnav{
  background: linear-gradient(to right, gray, silver, gray);
}
#fighter_img {
  width: 65px;
  height: 65px;
}
#armor_img {
  width: 65px;
  height: 65px;
}
.unit_image{
  width:65px;
  height:65px;
  position: relative;
  z-index: 99999;
}
.icon_image{
  width:65px;
  height:65px;
  position: relative;
  z-index: 99999;
}
.unit_nav_btn{
  display: inline;  
}
#canvas_container {
  height: 1536px;
  width: 2280px;
  z-index:0;
  margin-top:100px;
}
bring-to-front{
  z-index: 999;
}
